*.zip filter=lfs diff=lfs merge=lfs
*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs
*.h5 filter=lfs diff=lfs merge=lfs
*.keras filter=lfs diff=lfs merge=lfs
*.pt filter=lfs diff=lfs merge=lfs
*.pkl filter=lfs diff=lfs merge=lfs
